.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
  border-bottom: 2px solid #212325;
}

.lists {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #6f7378;
}

li:hover {
  cursor: pointer;
}

.new {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 300px;
  background-color: #323337;
  color: #b7bec7;
  font-size: 16px;
  width: 160px;
  height: 30px;
}

.new:hover {
  cursor: pointer;
}

.plus {
  background-color: #323337;
}

.active {
  color: #ffffff;
  border-bottom: solid 1px #ffffff;
}

@media screen and (max-width: 450px) {
  .new {
    height: 50px;
    font-size: 12px;
  }

  .nav {
    margin-left: 0px;
    overflow-x: scroll;
  }

  .nav::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .new {
    width: 280px;
  }

  .lists {
    overflow-x: scroll;
  }

  .lists::-webkit-scrollbar {
    display: none;
  }

  .nav {
    margin-left: 0px;
  }
}
