.architecture {
  font-family: "Cormorant-Upright";
  margin-left: 0px;
}

.pics {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  align-items: end;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.filter {
  font-size: 52px;
  color: #2e8bff;
}

.day {
  font-size: 20px;
  color: #6f7378;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
}

img {
  border-radius: 10px;
}

img:hover {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .pics {
    grid-template-columns: repeat(2, 0.5fr);
    margin-left: 0px;
  }
}

@media screen and (min-width: 560px) and (max-width: 900px) {
  .pics {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .pics {
    grid-template-columns: repeat(4, 0.5fr);
  }
}
